/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




/*

*/
html {
    height: 100%;
}
body {
    height: 100%;
    font-family: 'Lora', serif;
    overflow: hidden;
}
#BackGround {
    width: 100%;
    height: 100%;
    background-color: #2c1c10;
}
#BackGroundImage {
    background-image: url(../img/paper-pattern.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#Canvas {
    margin: 0;
    padding: 0;
    vertical-align: top;
    position: relative;
    z-index: 10;
}
#Copyright {
    position: absolute;
    z-index: 30;
    bottom: 10px;
    left: 15px;
}

.copyright-list {
    font-size: 10px;
    color: #111;
    padding-bottom: 5px;
}
.copyright-list a {
    color: #999;
    text-decoration: none;
}
.copyright-link:hover {
    text-decoration: underline;
}


#Menu {
    position: absolute;
    z-index: 40;
    top: 15px;
    left: 10px;
}
#Menu {
    list-style: none;
}
.menu-list {
    display: inline;
}
#Menu button {
    background-color: transparent;
    border: 0;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    outline: none;
    display: none;
}
#Menu button:hover {
    opacity: 0.5;
}
.note path,
.voice path {
    fill: #ffffff;
}

.cross path {
    fill: #884444;
}
.cross {
    position: absolute;
    top: 1px;
    left: 7px;
    display: none;
}