<!DOCTYPE html>
<html ng-app="maker">
<head lang="en">
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
    <title>Christmas Card Maker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="css/skeleton.css"/>
    <style>
        .section {
            margin: 20px 0 0;
        }

        #messageTextArea {
            min-height: 200px;
        }

        #EmailMessage {
            border: #ccc 1px solid;
            border-radius: 5px;
            padding: 20px;
            background: #f0f0f0;
            margin-bottom: 20px;
        }
    </style>
    <script>
        angular.module('maker', []).controller('makerController', function ($scope) {

            $scope.host = window.location.host;

            $scope.music = 1;

            $scope.submit = function () {
                if ($scope.message && $scope.music) {
                    $scope.params = "message=" + encodeURIComponent($scope.message)
                    + "&music=" + encodeURIComponent($scope.music)
                    + ($scope.ending ? "&ending=" + encodeURIComponent($scope.ending) : "");
                } else {
                    $scope.params = "";
                }
            };
        });
    </script>
</head>
<body ng-controller="makerController">
<div class="container">
    <section class="section">
        <div class="row">
            <div class="column">
                <h1>Christmas Card Maker</h1>

                <form ng-submit="submit()">
                    <div class="row">
                        <label for="messageTextArea">Message</label>
                        <textarea ng-model="message" class="u-full-width" placeholder="Dear..." ng-model="message"
                                  id="messageTextArea"></textarea>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <label for="endingInput">Ending</label>
                            <input ng-model="ending" class="u-full-width" type="text" placeholder="Merry Christmas!"
                                   id="endingInput" ng-model="ending">
                        </div>
                    </div>
                    <div class="row">
                        <div class="six columns">
                            <label for="musicSelect">Music</label>
                            <select class="u-full-width" id="musicSelect" ng-model="music">
                                <option value="1">We Wish you a Merry Christmas</option>
                                <option value="2">Oh Holy Night</option>
                                <option value="3">None</option>
                            </select>
                        </div>
                    </div>
                    <input class="button-primary" value="Generate Link" type="Submit">
                </form>
            </div>
        </div>
    </section>
    <section class="section" ng-show="params">
        <div class="row">
            <h6>Add the link to your email!</h6>

            <div id="EmailMessage" class="u-full-width" ng-model="emailTemplate">
                http://{{ host }}/?{{ params }}
            </div>

            <p><a target="_blank" class="button-primary" href="index.html?{{ params }}">Check how your card looks</a></p>
        </div>
    </section>
</div>
</body>
</html>